<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-title>
        Time Clock
      </ion-title>
      <ion-button (click)="logout()">
        Logout
      </ion-button>
    </ion-row>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Time Clock</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-datetime [(ngModel)]="curTime" display-format="MMM DD, YYYY HH:mm:ss" placeholder="Time"></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="text" [(ngModel)]="project" placeholder="Project..."></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input type="text" [(ngModel)]="note" placeholder="Description..."></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="center" horizontal="center">
   <ion-fab-button *ngIf="!clockedIn" (click)="clockIn()" color="green">
    <ion-icon name="alarm"></ion-icon>
   </ion-fab-button>
   <ion-fab-button *ngIf="clockedIn" (click)="clockOut()" color="red">
    <ion-icon name="alarm"></ion-icon>
   </ion-fab-button>
  </ion-fab>
  
</ion-content>
